@font-face {
	font-family: "Zrnic";
	src: url("zrnic.woff");
}

@font-face {
	font-family: "Share-TechMono";
	src: url("Share-TechMono.woff");
}

/*
#3fb2ee - MemPass Blue
#292d33 - MemPass Dark
#2C87B7 - MemPass mid blue
#EF6340 - MemPass Orange

2CA9AD - Calypso

025772 - Unprotecetd Waters

170027 - Charrbroiled

FF3300 - oRage

FFFFFF - White
*/
header h1 {

	font-family: "Zrnic";
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	font-size: 54pt;

	color:#292d33;
}

body,h1 {
	margin:0px;
}

html, body {
	width:100%;
	height:100%;
	text-align: center;
}

header {
	margin:0px;
	height:100%;
	width:100%;
	
	max-height: 400px;


	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

section {
	display:block;
}

#section1 {
	height:600px;
	background-color: #025772;
}

#phone {
	background-image: url("../img/phonebg.png");
	background-position: center 70px;
	background-repeat: no-repeat;
	width:600px;
	margin-right: auto;
	margin-left: auto;
	height: 600px;
	text-align: center;
	position: relative;

	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

#phone input {
	background:none;
	border:none;
	color:white;
	font-family: "Share-TechMono";
	font-size:16pt;
	height:30px;
	width:65%;
	display:block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	position: relative;
  	top: 65%;
  	transform: translateY(-50%);

}

::-webkit-input-placeholder {
	color:white;
}

#section2 {
	height:600px;
	background-color: #EF6340;
}
